@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Quicksand&display=swap');

:root {

  --color-primary: #eef2f7;
  --color-secondary: #ffffff;

  --color-dark-primary: #131313;
  --color-dark-secondary: #1e1f20;

  --color-background: var(--color-primary);
  --color-background-secondary: var(--color-secondary);

  --color-text-dark: #1b1b1b;
  --color-text-light: #ffffff;
  --color-text: var(--color-text-dark);
}

[data-theme="dark"] {
  --color-background: var(--color-dark-secondary);
  --color-background-secondary: var(--color-dark-primary);
  --color-text: var(--color-text-light);
}

[data-theme="light"] {
  --color-background: var(--color-primary);
  --color-background-secondary: var(--color-secondary);
  --color-text: var(--color-text-dark);
}

.hidden{
    display: none;
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  position: absolute;
    width: 0.75rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px;
    border: 3px solid #f0f4f9; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: var(--color-text);
}
h1{
margin: 0;
font-family: 'Barlow', sans-serif;
color: var(--color-text);
}

a{
    text-decoration: none;
    color: var(--color-text);
}

#root{
height: 100vh;
background-color: var(--color-background);
}
#root > div{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 1rem; 
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--color-background-secondary);
    height: 60px;
    border-bottom: 1px solid #ddd;
    height: 100%;
    border-radius: 1rem;
}
header span.material-symbols-rounded{
   font-weight: 300;
}
header a{
    margin: 0.5rem;
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--color-text);
    letter-spacing: 0.1rem;
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
header a:hover{
   background-color: var(--color-background);
}
#logo{
  width: 8rem;
  height: 8rem;
  margin-bottom: 1rem;
}

/*-------------------*/
main{
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-secondary);
    height: 100vh;
    border-radius: 1rem;
    margin-left: 1rem;
    width: 100%;
    overflow-y: auto;
    max-height: 100%;

}
/*-------------------*/
.screen-section{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding: 2rem;
   scroll-snap-align: start;
   box-sizing: border-box;
   
}
/*-----HOME PAGE-------*/
.home-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

   
}
.home-title h1{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 1rem;

}
.home-title h3{
  font-size:2rem;
  font-weight: 800;
  margin-bottom: 1rem;

}
/*-------ToolBar--------*/

.toolbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding:1rem 2rem ;
  border-bottom: 1px solid #ddd;

}
.toolbar >.theme-switch{
background-color: var(--color-background-secondary);
border-radius: 1rem;
padding: 0.5rem;
border: none;
cursor: pointer;
color: var(--color-text);

}
.toolbar .flag{
  width: 2rem;
  height: 2rem;
  padding-left: 0.5rem;
}

/*-----spot-----*/

.table-with-search-bar {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 0.9em;
  font-family: 'Quicksand', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-with-search-bar thead tr {
  background-color: #c9d6df;
  color: #141414;
  text-align: left;
}

.table-with-search-bar th,
.table-with-search-bar td {
  padding: 12px 15px;
}

.table-with-search-bar tbody tr {
  border-bottom: 1px solid #dddddd;
}

.table-with-search-bar tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table-with-search-bar tbody tr:last-of-type {
  border-bottom: 2px solid #c9d6df;
}

.table-with-search-bar tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-background-secondary);
}
#search {
  width: 100%;
  border: none;

  background-color: var(--color-primary);
  border-bottom: 3px solid var(--color-primary-dark);
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*spots*/

.spots-header{
    
  padding: 1rem;
}
/*flag*/

.language-list{
 display: none;
 position: absolute;
}
.language-selector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;

  position: relative;
}
.language-selector:hover .language-list{
display: flex;
flex-direction: column;
transform: translateY(3.3rem);
background-color: var(--color-background);
padding: 1rem;
gap: 0.5rem;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;
}
.language-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  position: relative;
}
/* hero */

.hero-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1rem;

  

}

.hero-banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem 1rem;
  background: url("../src/media/paris-hero.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;

}
/*timer clock*/
.hero-timer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom:2rem ;
}
.timer-clock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: var(--color-background-secondary);
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  border: 3px solid #d7c378;
}
.timer-clock > div{
 display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.timer-clock > div > span:first-child{
  font-size: 1.5rem;
  font-weight: 800;
}
.share{
  border: none;
  background-color: var(--color-background-secondary);
}

.warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 2rem;
  background-color: var(--color-background);


}
.hero-cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 2rem;
  background-color: var(--color-background-secondary);
  border-radius: 1rem;
  margin-bottom: 1rem;
 width: 100%;

}
.FAQ{
  padding: 2rem 2rem;
  background-color: var(--color-background);
}
.FAQ-2{
  padding: 2rem 2rem;
  background-color: var(--color-background-secondary);
}
.faq-titre{
  weight: 800;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.cta-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #d7c378;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: fit-content;
  border: 3px solid #d7c378;
  font-size: 1.5rem;
  font-weight: 800;
}